.main_content {
    margin-left: 70px;
    max-width: 1000px;
}

.main_content h3 {
    font-style: italic;
    font-size: 150%;
    font-weight: bold;
}


.main_content ul {
    line-height: 200%;
}

.main_content a {
    text-decoration: none;
    color: slategray;
}

.main_content a:hover {
    color: black;
}

.nav-link, .nav-link:hover, .nav-link.active {
    color: #24292F;
}

.tab-pane text {
    font-size: 110%;
    word-break: break-word;
}

code {
    color: #24292F;
}

text .tree_hierarchy {
    text-align: center;
    line-height: 200%;
}