header.page_header h1 {
    /* Position the page header */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 10px 0;
    background: #24292F;

    /* words */
    font-family: "Trebuchet MS", Arial, serif;
    font-style: italic;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
}

header.page_header a {
    text-decoration: none;
    color: white;
}

header.page_header a:hover {
    color: gray;
}

nav.sidebar {
    /* position the navigation bar */
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;

    width: 300px;
    padding-top: 60px;
    /* for potential side bar animation*/
    z-index: -1;
    /*transition: 0.5s;*/
    overflow-x: hidden;

    /* words */
    font-family: "Times New Roman", Arial, serif;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    white-space: nowrap;
}

nav.sidebar h2 {
    font-weight: bold;
    font-size: 25px;
    margin-top: 50px;
}

nav.sidebar ul {
    list-style-type: none;
    line-height: 150%;
}

nav.sidebar a {
    text-decoration: none;
    color: #24292F;
}

nav.sidebar a:hover {
    color: gray;
}

main {
    /* Position the main section */
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 300px;
    right: 0;

    overflow: auto;
    padding-top: 50px;
    background: #F6F8FA;
    /* for potential side bar animation */
    /*transition: margin-left 0.5s;*/

    /* words */
    font-family: "Trebuchet MS", Arial, serif;
}

main h1 {
    font-style: italic;
    font-size: 250%;
    font-weight: bold;
    margin-left: 70px;
}

main h2 {
    font-style: italic;
    font-size: 200%;
    font-weight: bold;
    margin-left: 70px;
}

main p, ol {
    font-size: 110%;
    width: 800px;
    word-break: break-word;
    margin-left: 70px;
}