body {
    color: rgb(0, 0, 0);
}

.choice-container  {
    display: flex;
    margin-bottom: 0.8rem;
    width: 60%;
    border-radius: 4px;
    background:rgb(48, 139, 143);
    font-size: 1rem;
    min-width: 0rem ;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(188, 223, 143) 0.5%;
    transform: scale(1.02);
    transform: transform 100ms;
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: rgb(255, 255, 255);
}

.choice-text {
    padding: 2rem;
    width: 100%;
}

.correct {
    background-color: linear-gradient(32deg, rgba(green) 0%, rgb(green) 100%);
}

.incorrect {
    background-color: linear-gradient(32deg, rgba(red) 0%, rgb(red) 100%);
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid rgb(green);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;
}

#progressBarFull {
    height: 100%;
    background: green;
    width: 100%;
}

