main {
    background: #F6F8FA;
    /*color: #f8f8f8;*/
}

canvas {
    background: #f8f8f8;
    padding: 0;
    margin: 10px auto 1rem;
    display: block;
    border: 1px solid black;
}

.toolbox {
    width: 100px;
    margin-left: 70px;
    /*margin: 0 auto;*/
    display: inline;
}

.action_btn {
    width: 100px;
    margin: 0 auto;
    display: inline;
}

.explanation {
    background-color: #a1c88d;
    border-left: 6px solid #6c8d5c;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin-left: 180px;
    margin-right: 180px;
    display: block;
}

input {
    margin-left: 40px;
}
