header.page_header h1 {
    /* Position the page header */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 10px 0;
    background: #24292F;

    /* words */
    font-family: "Trebuchet MS", Arial, serif;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

header.page_header a {
    text-decoration: none;
    color: white;
}

header.page_header a:hover {
    color: gray;
}

nav.sidebar {
    /* position the navigation bar */
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;

    width: 300px;
    padding-top: 60px;
    /* for potential side bar animation*/
    z-index: -1;
    /*transition: 0.5s;*/
    overflow-x: hidden;

    /* words */
    font-family: "Times New Roman", Arial, serif;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    white-space: nowrap;
}

nav.sidebar h2 {
    font-weight: bold;
    font-size: 25px;
    margin-top: 50px;
}

nav.sidebar ul {
    list-style-type: none;
    line-height: 150%;
}

nav.sidebar a {
    text-decoration: none;
    color: #24292F;
}

nav.sidebar a:hover {
    color: gray;
}

main {
    /* Position the main section */
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 300px;
    right: 0;

    overflow: auto;
    padding-top: 30px;
    background: #F6F8FA;
    /* for potential side bar animation */
    /*transition: margin-left 0.5s;*/

    /* words */
    font-family: "Trebuchet MS", Arial, serif;
}

main h1 {
    font-style: italic;
    font-size: 250%;
    font-weight: bold;
    margin-left: 70px;
}

main h2 {
    font-style: italic;
    font-size: 200%;
    font-weight: bold;
    margin-left: 70px;
}

main h3 {
    font-size: 150%;
    font-weight: bold;
    margin-left: 70px;
}

main p, ol {
    font-size: 20px;
    width: 800px;
    word-break: break-word;
    margin-left: 70px;
}

main ul {
    font-size: 20px;
    width: 800px;
    word-break: break-word;
    margin-left: 70px;
}

.secondary_list {
    margin-left: 0;
}

.tutorial_sidebar {
    position: sticky;
    float: right;
    top: 20px;
    right: 0;
    width: 22%;
    font-size: 100%;
}

.tutorial_sidebar .nav-pills .nav-link {
    color: #24292F;
}

.tutorial_sidebar .nav-pills .nav-link.active {
    background-color: #d0d7de;
}

/* The main_content section is exclusively for implementation.html. */
.main_content {
    margin-left: 70px;
    max-width: 1000px;
}

.main_content .card {
    margin-bottom: 10px;
}

.main_content h2 {
    margin-left: 0;
}

.main_content h3 {
    font-style: italic;
    font-size: 150%;
    font-weight: bold;
}

.implementation_link, .outer_reference {
    margin-left: 0;
    font-size: 18px;
    padding-top: 15px;
}

.main_content .card-title {
    margin-left: 0;
}

.main_content a {
    text-decoration: none;
    color: dimgray;
}

.main_content a:hover {
    color: black;
}

.nav-link, .nav-link:hover, .nav-link.active {
    color: #24292F;
}

.main_content .card-body text, .card-body li {
    font-size: 110%;
    word-break: break-word;
}

.main_content .card-header ul {
    font-size: 110%;
}

code {
    color: #24292F;
}

text .tree_hierarchy {
    text-align: center;
    line-height: 200%;
}

.tab-pane .expand_collapse_all {
    margin: 10px 0;
}

.accordion-body {
    background-color: #e8e8e8;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: table;
}

.main {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.quiz-frame {
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.quiz__head {
    font-size: 30pt;
    margin: 50px 10px 50px;
}

.head__content {
    padding: 5px;
}

.quiz__body {
    margin: 10px;
}

.quiz__footer {
    bottom: 0;
    display: block;
    width: 100%;
    font-size: 30pt;
    /*margin-bottom: 3rem;*/
}

.quiz__points {
    bottom: 0;
    display: block;
    width: 100%;

    font-size: 30pt;
    margin-bottom: 9rem;
}

.footer__content {
    padding: 5px;
}

.button {
    border: 0;
    border-radius: 10px;
    background: #1d1f2b;
    color: #fff;
    padding: 10px 25px;
    width: 70%;
    font-size: 15pt;
    display: block;
    margin: 2px auto;
    cursor: pointer;
}

.button_wrong {
    background: #EB6465;
}

.button_correct {
    background: #5EB97D;
}

.button_passive {
    background: #B3B3B3;
}

canvas {
    background: #f8f8f8;
    margin-top: 10px;
    margin-left: 70px;
    display: inline-block;
    border: 1px solid gray;
    border-radius: 10px;
}

.explanation_card {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    width: 200px;
}

/*.explanation_card .card {*/
/*    background: #f8f8f8;*/
/*}*/

.explanation_card .card .card-body .card-title {
    font-style: italic;
    font-weight: bold;
}

.toolbox {
    margin-left: 70px;
    display: inline-block;
}

.form-range {
    width: 200px;
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0 .75rem;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-radius: .25rem;
}

.form-range::-webkit-slider-thumb {
    background: dimgray;
}

.form-range:focus::-webkit-slider-thumb {
    background: dimgray;
    box-shadow: none;
}

.toolbox .input-group-text {
    color: #6C757D;
    background: #F6F8FA;
}

img {
    width: 50%;
    height: auto;
}

.buttonImg {
    width: 20%;
    height: auto;
}
.questImg {
    width: 25%;
    height: auto;
}


.fontS {
    float: right;
    margin-top: 10px;
    display: inline-block;
}
.fontS .input-group-text {
    color: #6C757D;
    background: #F6F8FA;
}








/*.form-control {*/
/*    width: 100px;*/
/*}*/

/*
.dialog{
    height: 70px;
    background:#1c1c1c;
    border-radius: 5px;
    box-shadow: 0 0 0 60px #F5EAC8, 0 0 0 12px #251000;
    color: #F5EAC8;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    position: relative;
    text-transform: uppercase;
    word-spacing: 3px;
    width: 400px;
}
*/

/*.outputbox{*/
/*    padding: 20px;*/
/*    margin: 50px;*/
/*    font-size: 20px;*/
/*    border: 5px seagreen;*/
/*}*/