{% extends "base.html" %}
{% block title %}
<title>Implementation</title>
<script src="../static/implementation.js"></script>
{% endblock %}

{% block content %}
<main>
    <h1>Implementations of an AVL Tree!</h1>
    <div class="main_content">
        <div class="card">
            <div class="card-header" style="height: auto">
                <ul class="nav nav-tabs card-header-tabs" data-bs-tabs="tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="true" data-bs-toggle="tab" href="#pg1">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#pg2">C++</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#pg3">JavaScript</a>
                    </li>
                </ul>
            </div>
            <div class="card-body tab-content">
                <div class="tab-pane active" id="pg1">
                    <h3 class="card-title">General Implementation</h3>
                    <text>
                        As a certain kind of self-balancing binary search tree, an AVL Tree structure is implemented as
                        a child class of a binary search tree, which is then a child class of a binary tree. In other
                        words,
                        the AVL Tree structure follows below hierarchical inheritance:
                        <div class="tree_hierarchy">
                            <code>Dictionary >> Binary Tree >> Binary Search Tree >> AVL Tree</code>
                        </div>
                        Therefore, when designing an AVL Tree, it is important to have each parent class either
                        declared as virtual or implemented. Implementations of more basic structures like linked list
                        are also necessary, as they will be frequently used when creating the tree structure.
                        <br><br>
                        In the code we provide, we've created our own version of each sub-structure (i.e., linked list)
                        for educational purpose. Feel free to use any STL library that could save tons of time when
                        creating your own AVL!
                        <br><br>
                        Below is the link to a repository that contains the implementations we designed. There are
                        many ways to implement an AVL Tree, so just take ours as an example. We strongly
                        encourage you to design your own one!
                        <ul class="implementation_link">
                            <li><a target="_blank" rel="noopener noreferrer"
                                   href="https://github.com/Kleokhov/Data_Structure_Implementations">AVL Tree
                                Implementation</a></li>
                        </ul>
                        Besides viewing our implementations, we also recommend you to check these useful websites
                        afterwards for more sophisticated explanations:
                        <ul class="outer_reference">
                            <li><a target="_blank" rel="noopener noreferrer"
                                   href="https://en.wikipedia.org/wiki/AVL_tree">AVL Tree Wikipedia</a></li>
                        </ul>
                    </text>
                </div>
                <div class="tab-pane" id="pg2">
                    <h3 class="card-title">C++ Structure</h3>
                    <ul class="implementation_link">
                        <li><a target="_blank" rel="noopener noreferrer"
                               href="https://github.com/Kleokhov/Data_Structure_Implementations">AVL Tree
                            Implementation</a></li>
                    </ul>
                    <text>
                        Here are the primary methods of the AVL Tree. Click on the column to review
                        the description. We do not have explanations for sub-structures like linked list
                        on this page, but you can find more about them in the code comments.
                    </text>
                    <div class="expand_collapse_all">
                        <button type="button" class="btn btn-outline-dark" onclick="expand()">Expand All</button>
                        <button type="button" class="btn btn-outline-dark" onclick="collapse()">Collapse All</button>
                    </div>
                    <div class="methods_display">
                        <div class="accordion accordion-flush" id="accordionFlush1">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading1">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse1" aria-expanded="false"
                                            aria-controls="flush-collapse1">
                                        LinkedBSTNode()
                                    </button>
                                </h2>
                                <div id="flush-collapse1" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading1" data-bs-parent="#accordionFlush1">
                                    <div class="accordion-body">
                                        The linkedBSTNode is similar to a linked list node. It is a simple data
                                        container that stores information. Specifically, it stores <br>
                                        <code>
                                            key (a key in the type of K);
                                            value (a value in the type of V);
                                            left (a pointer to left);
                                            right (a pointer to right).
                                        </code>
                                        <br><br>
                                        You can manipulate the node through methods like <code>getLeft(), getRight()
                                    </code> to get the left/right node of the current node, or <code>setValue(),
                                        setKey() </code> to change the key/value of the current node.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-flush" id="accordionFlush2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading2">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse2" aria-expanded="false"
                                            aria-controls="flush-collapse2">
                                        insert()
                                    </button>
                                </h2>
                                <div id="flush-collapse2" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading2" data-bs-parent="#accordionFlush2">
                                    <div class="accordion-body">
                                        Placeholder content for this accordion, which is intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-flush" id="accordionFlush3">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading3">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse3" aria-expanded="false"
                                            aria-controls="flush-collapse3">
                                        update()
                                    </button>
                                </h2>
                                <div id="flush-collapse3" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading3" data-bs-parent="#accordionFlush3">
                                    <div class="accordion-body">
                                        Placeholder content for this accordion, which is intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-flush" id="accordionFlush4">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading4">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse4" aria-expanded="false"
                                            aria-controls="flush-collapse4">
                                        get()
                                    </button>
                                </h2>
                                <div id="flush-collapse4" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading4" data-bs-parent="#accordionFlush4">
                                    <div class="accordion-body">
                                        Placeholder content for this accordion, which is intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-flush" id="accordionFlush5">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading5">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse5" aria-expanded="false"
                                            aria-controls="flush-collapse5">
                                        contains()
                                    </button>
                                </h2>
                                <div id="flush-collapse5" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading5" data-bs-parent="#accordionFlush5">
                                    <div class="accordion-body">
                                        Placeholder content for this accordion, which is intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-flush" id="accordionFlush6">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading6">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse6" aria-expanded="false"
                                            aria-controls="flush-collapse6">
                                        remove()
                                    </button>
                                </h2>
                                <div id="flush-collapse6" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading6" data-bs-parent="#accordionFlush6">
                                    <div class="accordion-body">
                                        Placeholder content for this accordion, which is intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-flush" id="accordionFlush7">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading7">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse7" aria-expanded="false"
                                            aria-controls="flush-collapse7">
                                        traversePreOrder()
                                    </button>
                                </h2>
                                <div id="flush-collapse7" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading7" data-bs-parent="#accordionFlush7">
                                    <div class="accordion-body">
                                        Placeholder content for this accordion, which is intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-flush" id="accordionFlush8">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading8">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse8" aria-expanded="false"
                                            aria-controls="flush-collapse8">
                                        traverseInOrder()
                                    </button>
                                </h2>
                                <div id="flush-collapse8" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading8" data-bs-parent="#accordionFlush8">
                                    <div class="accordion-body">
                                        Placeholder content for this accordion, which is intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-flush" id="accordionFlush9">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading9">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse9" aria-expanded="false"
                                            aria-controls="flush-collapse9">
                                        traversePostOrder()
                                    </button>
                                </h2>
                                <div id="flush-collapse9" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading9" data-bs-parent="#accordionFlush9">
                                    <div class="accordion-body">
                                        Placeholder content for this accordion, which is intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-flush" id="accordionFlush10">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading10">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse10" aria-expanded="false"
                                            aria-controls="flush-collapse10">
                                        traverseLevelOrder()
                                    </button>
                                </h2>
                                <div id="flush-collapse10" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading10" data-bs-parent="#accordionFlush10">
                                    <div class="accordion-body">
                                        Placeholder content for this accordion, which is intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-flush" id="accordionFlush11">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading11">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse11" aria-expanded="false"
                                            aria-controls="flush-collapse11">
                                        getBalance()
                                    </button>
                                </h2>
                                <div id="flush-collapse11" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading11" data-bs-parent="#accordionFlush11">
                                    <div class="accordion-body">
                                        Placeholder content for this accordion, which is intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-flush" id="accordionFlush12">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading12">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse12" aria-expanded="false"
                                            aria-controls="flush-collapse12">
                                        rightRotate()
                                    </button>
                                </h2>
                                <div id="flush-collapse12" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading12" data-bs-parent="#accordionFlush12">
                                    <div class="accordion-body">
                                        Placeholder content for this accordion, which is intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion accordion-flush" id="accordionFlush13">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading13">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse13" aria-expanded="false"
                                            aria-controls="flush-collapse13">
                                        leftRotate()
                                    </button>
                                </h2>
                                <div id="flush-collapse13" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading13" data-bs-parent="#accordionFlush13">
                                    <div class="accordion-body">
                                        Placeholder content for this accordion, which is intended to
                                        demonstrate the <code>.accordion-flush</code> class. This is the first item's
                                        accordion body.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="pg3">
                    <h3 class="card-title">JavaScript Structure</h3>
                    <ul class="implementation_link">
                        <li><a target="_blank" rel="noopener noreferrer"
                               href="https://github.com/Kleokhov/Data_Structure_Implementations">AVL Tree
                            Implementation</a></li>
                    </ul>
                    <div class="expand_collapse_all">
                        <button type="button" class="btn btn-outline-dark" onclick="expand2()">Expand All</button>
                        <button type="button" class="btn btn-outline-dark" onclick="collapse2()">Collapse All</button>
                    </div>
                    <div class="methods_display2">
                        <!--assign id number starting from accordionFlush14-->
                        <div class="accordion accordion-flush" id="accordionFlush14">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-heading14">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#flush-collapse14" aria-expanded="false"
                                            aria-controls="flush-collapse14">
                                        LinkedBSTNode()
                                    </button>
                                </h2>
                                <div id="flush-collapse14" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading14" data-bs-parent="#accordionFlush14">
                                    <div class="accordion-body">
                                        The linkedBSTNode is similar to a linked list node. It is a simple data
                                        container that stores information. Specifically, it stores <br>
                                        <code>
                                            key (a key in the type of K);
                                            value (a value in the type of V);
                                            left (a pointer to left);
                                            right (a pointer to right).
                                        </code>
                                        <br><br>
                                        You can manipulate the node through methods like <code>getLeft(), getRight()
                                    </code> to get the left/right node of the current node, or <code>setValue(),
                                        setKey() </code> to change the key/value of the current node.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}