{% extends "base.html" %}
{% block title %}
<title>AVL Intro</title>
{% endblock %}

{% block content %}
<main id="main">
    <h1>About</h1>
    <p>
        Data structures are an integral aspect of any computer scientist’s education. However, they can vary in
        complexity and be difficult to understand. Visualizing these data structures through technology
        is a useful way of learning how they function.
    </p>
    <h2>How to use this website?</h2>
    <p>This site is split up to 4 webpages. </p>
    <ol>
        <li> A short tutorial that introduces AVL Trees.</li>
        <li> An interactive AVL Tree visualization tool.</li>
        <li> An implementation of an AVL Tree on GitHub.</li>
        <li> A quiz on AVL Trees.</li>
    </ol>
    <p>
        We recommend that students proceed through the site chronologically, but they
        are also welcome to access each section independently.<br><br>
        Here is the repository for this web application. Feel free to visit!
        <a target="_blank" rel="noopener noreferrer" class="repo_url"
           href="https://github.com/Software-Engineering-2022-Group-7/AVLTrees">IntroToAvl</a>
    </p>
</main>
{% endblock %}