{% extends "base.html" %}
{% block title %}
<title>Quiz</title>
{% endblock %}

{% block content %}

<main class="main">
    <div class="wrapper">
        <div class="quiz__head">
            <div class="head__content" id="head"></div>
            <div class="head__content" id="png"></div>
        </div>
        <div class="quiz__body">
            <div class="buttons">
                <div class="buttons__content" id="buttons">
                    <button class="button">Default button</button>
                    <br>
                    <button class="button button_wrong">Wrong answer</button>
                    <br>
                    <button class="button button_correct">Correct answer</button>
                    <br>
                    <button class="button button_passive">Unclicked button</button>
                    <br>
                </div>
            </div>

            <div class="quiz__footer">
                <div class="footer__content" id="pages">0 / 0</div>
            </div>
            <div class="quiz__points">
                <div class="footer__content" id="points">Points: 0</div>
            </div>
        </div>
    </div>
</main>

<script src="../static/quiz.js"></script>
{% endblock %}
