{% extends "base.html" %}
{% block title %}
    <title>Visualization</title>
{% endblock %}

{% block content %}
    <main>
        <h1>Canvas</h1>
        <div class="toolbox">
            <div class="input-group">
                <input id="numInput" type="text" class="form-control" placeholder="Enter Key"
                       aria-label="Insert block">
                <button id="InputBtn" onclick="getInput()" class="btn btn-outline-secondary" type="button">INSERT</button>
                <input id="numDelete" type="text" class="form-control" placeholder="Enter Key"
                       aria-label="Delete block">
                <button id="DeleteBtn" onclick="deleteInput()" class="btn btn-outline-secondary" type="button">DELETE</button>
                <button onclick="clearCanvas()" id="reset" type="reset"
                    class="btn btn-outline-secondary">RESET</button>
            </div>
        </div>

        {#canvas#}
        <canvas id="canvas" width="1080" height="450"></canvas>
        {#Js files#}
        <script src="/static/AVL.js"></script>
        <script src="/static/AVL-private.js"></script>
        <script src="/static/visualization.js"></script>
        <script src="/static/animation.js"></script>
        <script src="/static/circle.js"></script>
        <script src="/static/edge.js"></script>

        <div class="explanation">
            <p><strong>Explanation</strong> Some text...</p>
        </div>
    </main>
{% endblock %}